<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular</title>
</head>
<body>
	
	<div ng-controller="testController">
		<input type="text" ng-model="nombre">
		{{ nombre }}
		<input type="button" ng-click="saludo()" value ="Saludo">
	</div>
	

	<script src= "static/angular.js"></script>
	
	<script>
	var app=angular.module("app",[]);

	app.controller("testController", function($scope){
		$scope.saludo = function () {
			console.log("Hola, ya te saludé " + $scope.nombre);
		}
	});
	</script>

</body>
</html>

